@charset "utf-8";

h1 {
  font-size: 1.5rem;
  margin: 0;
}

svg {
  color: #fff;
}

ul {
  list-style: none;
}

small {
  font-size: 70%;
}

#app {
  width: 100%;
  min-height: 100vh;
}

.done {
  color: #bbb;
  text-decoration: line-through;
}

.todo-form {
  padding-bottom: 0.5rem;
}
